:root {
  --gold-hsl: 45deg 67% 47%;
  --border-color: hsl(var(--gold-hsl) / 0.2);
  --border: 1px solid var(--border-color);
  --vdiff: calc(100lvh - 100dvh);
}

html,
body {
  height: 100lvh;
  background: hsl(0deg 0% 0%);
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  color: hsl(45deg 50% 90%);
  background: linear-gradient(315deg, hsl(0deg 0% 0%), hsl(var(--gold-hsl) / 0.17));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;

  width: 100%;
  height: 100%;
  max-width: 800px;

  padding: max(1rem, var(--vdiff)) 1rem;

  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: inline;
  color: transparent;
  background: linear-gradient(hsl(var(--gold-hsl)), hsl(var(--gold-hsl) / 0.4)) ;
  background-clip: text;
}

input {
  min-width: none;
  border: var(--border);
  border-radius: 4px;
  padding: 0.25rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  background: transparent;
  filter: sepia(1);
}

::placeholder {
  opacity: 0.4;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}
