.modal {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  background: hsl(0deg 0% 0% / 0.01);
  backdrop-filter: blur(20px);
}

.close {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.close > svg {
  color: hsl(var(--gold-hsl));
}
